# Django
SECRET_KEY=change-me-to-a-random-string
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Telegram Bot
BOT_TOKEN=your-bot-token-from-BotFather
BOT_USERNAME=bm_push_bot
WEBHOOK_SECRET=change-me-to-a-random-string
WEBHOOK_URL=https://bmbot.yuriy-konkov.ru/tg/

# Telegram Proxy (SOCKS5h)
PROXY_URL=socks5://0.0.0.0:9998
